{% extends 'layouts/application.html' %}

{% block content %}
<section class="hero">
  <div class="container">
    <h1 class="hero__title">We're Here to Help</h1>
    <div class="hero-search">
      <form accept-charset="UTF-8" action="/hc/en-us/search" class="search" method="get" role="search">
        <div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <input id="query" name="query" placeholder="Search Nebia Support" type="search" />
        <button class="search-btn" type="submit">
          <span class='sprite -search '>
            <svg viewBox="0 0 1 1"><use xlink:href='#search' /></use></svg>
          </span>
        </button>
      </form>
    </div>
  </div>
</section>

<section class="installation">
  <div class="container">
    <ul class="installation-blocks">
      <li class="installation-block">
        <a id="open-install-video" class="installation-block__link" href="#">
          <h2 class="installation-block__title">Installation Video</h2>
          <div class="installation-block__info">
            <div class="installation-block__icon">{{ sprite('play') }}</div>
            Watch now
          </div>
        </a>
      </li>
      <li class="installation-block">
        <a class="installation-block__link" href="#!">
          <h2 class="installation-block__title">Step by Step Installation Guide</h2>
          <div class="installation-block__info">
            Instructions, videos &amp; support
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="categories">
  <div class="container">
    <h2 class="categories__title">I have a question about</h2>
    <ul class="category-blocks">
      {# {{#each categories}} #}
      {% for category in categories %}
        <li class="category-block">
          <a href='{{url}}' class="category-block__link">
            {{ sprite(category.icon) }}
            <h3 class="category-block__title">{{ category.name }}</h3>
          </a>
        </li>
      {% endfor %}
      {# {{/each}} #}
    </ul>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h2 class="faq__title">FAQ</h2>
    <div class="faq__info">Lorem ipsum dolore sit amit.<br><a href="#!">More Troubleshooting</a></div>
    <div class="faq__items-container">
      <ul class="faq__items">
        {% for i in range(0, 15) %}
          <li class="faq__item">
            <button class="faq__btn">
              <div class="faq__item__icon">{{ sprite('arrow-down--large') }}</div>
              <div class="faq__item__text">
                <h3 class="faq__item__title">{{ faq.question }}</h3>
                <p class="faq__item__answer">{{ faq.answer }}</p>
              </div>
            </button>
          </li>
        {% endfor %}
      </ul>
      <ul class="faq__items"></ul>
      <ul class="faq__items"></ul>
    </div>
    <div class="faq__help">
      {{ sprite('email') }} Still need help? <a href="#!">Contact Us</a>
    </div>
  </div>
</section>

{#     {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}} #}

  <section class="modal">
    <div class="modal-inner">
      <div class="modal-video-container">
        <iframe src="https://player.vimeo.com/video/196506270?color=1882c4&amp;title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <button class="modal-close-btn">
        {{ sprite('cross2') }}
      </button>
    </div>
  </section>

{% endblock %}
