.hero {
  background: url('https://p6.zdassets.com/hc/theme_assets/1316295/200478748/hero-bg--norway.jpg') no-repeat center center;
  // background: url('../images/hero-bg--norway.jpg') no-repeat center 25%;
  // background: url(unquote('$homepage_background_image')) no-repeat center center;
  background-size: cover;
  margin-top: -50px; //unpads the top of the body beneath the fixed nav
  padding: units(20) 0 units(24);

  @media (min-width: 1400px) {
    background-position: center 55%;
  }
}

.hero__title {
  @extend %heading--large;
  text-align: center;
  margin-bottom: units(6);
}