.categories {
  background-color: color(charade);
  padding: units(5) 0;
}

.categories__title {
  @extend %label;
  color: color(gray);
  margin-bottom: units(3);
  text-align: center;
}

.category-blocks {
  align-content: stretch;
  display: flex;
  flex-flow: wrap;
}

.category-block {
  background-color: color(lighterShark);
  border: 2px solid color(brightGray);
  color: #fff;
  flex-grow: 0;
  flex-shrink: 0;
  margin: units(1) 0;
  padding: units(4);
  text-align: center;
  width: 100%;

  @include bp(small) {
    margin: units(2);
    width: calc(50% - #{units(4)});
  }

  @include bp(medium) {
    margin: units(2.5);
    width: calc(#{percentage(1/3)} - #{units(5)});
  }

  &:hover {
    background-color: color(blueDianne);
    border-color: color(denim);
    color: color(denim);
    opacity: 1;
    text-decoration: none;
  }

  svg {
    fill: none;
    margin-bottom: units(1);
    stroke: currentColor;
    width: 35px;
  }

  .sprite.-arrow-left {
    svg {
      fill: currentColor;
      stroke: none;
    }
  }
}

.category-block__title {
  @extend %heading--small;
}
