<header class="header -fixed">
  <div class="header-inner container">
      <div class="header__logo"><a href="http://www.nebia.com">{{ sprite('nebia-logo', viewBox='0 0 355.332 75.227') }}</a></div>
      <ul class="header__nav">
        <li class="top-nav-item"><a href="http://www.nebia.com/#product-details">product</a></li>
        <li class="top-nav-item"><a href="http://www.nebia.com/product">specs</a></li>
        <li class="top-nav-item"><a href="http://www.nebia.com/blog">blog</a></li>
        <li class="top-nav-item">
          <a href="#modal-preorder" class="button -preorder"><div class="button__text">Pre-order now</div></a>
        </li>
      </ul>
  </div>
</header>