$colors: (
  //grays
  gallery      : #f0f0f0,
  alto         : #d6d6d6,
  grayChateau  : #9ca4a9,
  gray         : #898989,
  brightGray   : #343c46,
  charade      : #21252e,
  lighterShark : #262a32,
  shark        : #1d1d1f,

    //blues
  denim        : #1882c4,
  blueDianne   : #1f384c,

    //accents
  burntOrange  : #d05300
);

